{% import 'Macros.jinja2' as macros %}

<style>
.dhis2eo-summary {
    cursor: pointer;
    display: list-item;
    list-style: revert;
    margin-bottom: 0 !important;

    .dhis2eo-l {
        padding-left: 0.5em;
        color: rgb(64, 128, 128);
        font-style: italic;
    }
}
.dhis2eo-row {
    overflow-wrap: break-word;
    padding-left: .825em;

    .dhis2eo-k {
        display: inline-block;
        margin: 0px 0.5em 0px 0px;
    }
    .dhis2eo-v {
        color: rgb(186, 33, 33);
    }
}
.dhis2eo-k {
    color: rgb(0, 128, 0);
    font-weight: 700;
}
.dhis2eo-wrap {
  display: block !important;
}
.dhis2eo-text-repr-fallback {
  /* fallback to plain text repr when CSS is not injected (untrusted notebook) */
  display: none;
}
</style>
<div>
<div class="dhis2eo-text-repr-fallback">
    {{ plain }}
</div>
<div class="jp-RenderedJSON jp-mod-trusted jp-OutputArea-output dhis2eo-wrap" style='display:none'>
    <div class="container" style="line-height: normal;">
        <ul style="padding: 0px; margin: 0px; list-style: none; display: block;">
            {% for key, value in dict.items() %}
                {% if value is iterable and (value is not string and value is not mapping) %}
                    {{ macros.list(key, value) }}
                {% else %}
                    {{ macros.scalar(key, value) }}
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
</div>
