.vscode/
.DS_Store
.ipynb_checkpoints
__pycache__
*.egg-info

# MyST build outputs
_build
build/
dist/

test/data/

# Virtual environments
.venv/
.env/
docs/src/data/pm_final_srilanka_linearp.nc
docs/src/data/sri-lanka-provinces.geojson
docs/data/local/
