.vscode/
.DS_Store
.ipynb_checkpoints
__pycache__
*.egg-info

# MyST build outputs
_build
build/
dist/

# Virtual environments
.venv/
.env/
docs/guides/data/local/
docs/workflows/data/local/
docs/workflows/scheduling/example/import-era5-daily.ipynb
docs/workflows/scheduling/example/requirements.txt
