.vscode/
.DS_Store
.ipynb_checkpoints
__pycache__
*.egg-info

# MyST build outputs
_build
build/
dist/

tests/test_outputs/

# Sri Lanka data files
sri-lanka-provinces.geojson
pm_final_srilanka_linearp.nc
lka_pop_2023_CN_1km_R2025A_UA_v1.tif

# Virtual environments
.venv/
.env/
docs/src/data/pm_final_srilanka_linearp.nc
docs/src/data/sri-lanka-provinces.geojson
docs/data/local/
